/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
} */

h1 {
    margin: 0 auto;
}

/* #flexMain {
    display: flex;
    align-items: flex-start;
} */

#events-container {
    width: 30vw;
}

#modal-header {
    border: none;
}

.modal-card {
    top: 30%;
}

/* #events-container {
    border: 2px solid black;
    border-radius: 5px;
    height: 70vh;
}

#event-details {
    border: 2px solid black;
    border-radius: 5px;

} */
header {
  background-color: white;
  color: #fff;
  padding: 20px;
}
.dropdown button {
  background-color: #333;
  color: #fff;
  border: none;
}

/* Hero section styles */
.hero {
  background-image: url(../redd-f-qMFSP1xYVTQ-unsplash.jpg);
  background-size: cover;
  color: #333;
  text-align: center;
  padding: 50px 0;
}

.hero.is-primary.title {
  color: #333;
}



#events-container {
  flex: 1;
  padding: 20px;
}

#modal-btn {
  background-color: #333;
  color: #fff;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-card {
  width: 80%;
  max-width: 600px;
}

#event-details {
  flex: 2;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */



  section h1 {
padding: 40px;
  }

  #modal-btn-city {
    background-color: #333;
    color: #fff;
  }

  

  @media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    #reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }