

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
}

h1 {
    margin: 0 auto;
}

#flexMain {
    display: flex;
    align-items: flex-start;
}

#events-container {
    width: 30vw;
}

#modal-header {
    border: none;
}

.modal-card {
    top: 30%;
}

#events-container {
    border: 2px solid black;
    border-radius: 5px;
    height: 70vh;
}

#event-details {
    border: 2px solid black;
    border-radius: 5px;

}

/* .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }